/* Estilos para el select, personalizando la flecha y el borde */
select {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" stroke="%239CA3AF"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Estilos de scrollbar para un tema oscuro */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f2937; /* Fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #4b5563; /* Color de la barra de desplazamiento */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Color al pasar el mouse */
}
